input {
    float: right;
}

.yellow {
    background-color: #ffff0029;
}

.blue {
    background-color:#00ffff38;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    background-color: #f1f1f1;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 70px;
    border: 1px solid black;
    outline-style: solid;
    outline-color:silver;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.view-button {
    background-color: gray;
    margin-left: 5%;
}

.delete-button {
    background-color: red;
    margin-left: 5%;
}

.table-data {
    margin-left: 30%;
}