<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class = "row message">
  <div class = "col-sm-12" *ngIf = "displayView">{{displayViewMessage}}</div>
  <div class = "col-sm-12" *ngIf = "editView">{{editViewMessage}}</div>
  <div class = "col-sm-12" *ngIf = "createView">{{createViewMessage}}</div>
</div>
<div class="backbutton">
  <button (click) = "back()" class="button">EnableCreateView</button>
</div><br>
<div *ngIf = "createView" class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
    <div clas="row">
    <div class="header">
      <label>Student Name</label>
    </div>
    <div class="box">
      <input type="text" name="name" placeholder="Name" ngModel/>
      <p class = "errorMessage" *ngIf = "isInvalidNameField">*Name can't be null.</p>
    </div> <br>
    <div class="header">
      <label>Category</label>
    </div>
    <div class="box" id="category">
      <select name = "category" ngModel (change) = "get($event.target)">
        <option value="" disabled = "disabled">Category</option>
        <option value = "Domestic">Domestic</option>
        <option value = "International">International</option>
      </select>
      <p class = "message1">*Default category is Domestic.</p>
    </div> <br>
    <div class="header">
      <label>Documents</label>
    </div>
    <div class="box">
        <p class="errorMessage" *ngIf = "isInvalidDocumentsField">All * are mandatory.</p>
    <div *ngFor = "let item of documents">
      {{item}}
      <input type = "checkbox" [name] = "item.slice(0, -1)" class = "checkbox-alignment" required ngModel/>
    </div>
    </div> <br>
    <div class="header">
    <label>DOB</label>
  </div>
    <div class="box">
    <input type = "date" name = "dob" ngModel />
    </div><br>
    <div class="header">
    <label>Father's Name</label>
  </div>
    <div class="box">
    <input type="text" name="father_name" placeholder="Father's Name" ngModel /> 
    </div><br>
    <div class="header">
    <label>Mother's Name</label>
  </div>
    <div class="box">
    <input type="text" name="mother_name" placeholder="Mother's Name" ngModel /> 
    </div><br>
    <div class="header">
    <label>Last Class Score</label>
  </div>
    <div class="box">
    <input type="text" name="score" placeholder="%(marks)" ngModel /> 
    
  </div>
  </div>
  <div class = "onboard">
      <input type="submit" value="Onboard" />
  </div>
  </form>
</div>

<div *ngIf = "editView">
  <form #f="ngForm" (ngSubmit)="onEdit(f)" class="container" validate>
    <div class="row">
    <div class="header">
    <label>Student Name</label>
    </div>
    <div class="box" id="editbox">
      <input  type="text" name="name" [(ngModel)] = "stud_name" />
      <p class = "errorMessage" *ngIf = "isInvalidNameField">*Name can't be null.</p>
    </div><br>
    <div class="header">
    <label>Category</label>
    </div>
    <div class="box" id="category">
    <select name = "category" [(ngModel)] = "stud_category" (change) = "get($event.target)">
      <option value="" disabled = "disabled">Category</option>
      <option value = "Domestic">Domestic</option>
      <option value = "International">International</option>
    </select>
    <p class = "message1">*Default category is Domestic.</p>
    </div><br>
    <div class="header">
    <label>Documents</label>
    </div>
    <div class="box">
        <p class="errorMessage" *ngIf = "isInvalidDocumentsField">All * are mandatory.</p>
    <div *ngFor = "let item of documents; let i = index">
      {{item}}
      <input type = "checkbox" [name] = "item.slice(0, -1)" class = "checkbox-alignment" required [(ngModel)] = "documentValues[i]"/>
    </div>
    </div><br>
    <div class="header">
    <label>DOB</label>
    </div>
    <div class="box">
    <input type="text" name = "dob" [(ngModel)] = "stud_dob" />
    </div><br>
    <div class="header">
    <label>Father's Name</label>
    </div><br>
    <div class="box">
    <input type="text" name="father_name" [(ngModel)] = "stud_father" />
    </div><br>
    <div class="header">
    <label>Mother's Name</label>
    </div>
    <div class="box">
    <input  type="text" name="mother_name" [(ngModel)] = "stud_mother" /> 
    </div><br>
    <div class="header">
    <label>Last Class Score</label>
    </div>
    <div class="box">
    <input type="text" name="last_class_score" [(ngModel)] = "stud_score" /> <br/>
    </div>
  </div>
    <div class = "onboard">
        <input type="submit" value="Onboard" />
    </div>
  </form>
</div>

<div *ngIf = "displayView">
    <form #f="ngForm" (ngSubmit)="onEdit(f)" class="container" novalidate>
      <div class="row">
      <div class="header">
      <label>Student Name</label>
      </div>
      <div class="box" id="editbox">
      <input  type="text" name="name" [(ngModel)] = "stud_name" disabled /> <br/>
      </div><br>
      <div class="header">
      <label>Category</label>
      </div>
      <div class="box" id="category">
      <select name = "category" [(ngModel)] = "stud_category" disabled >
        <option value="" disabled = "disabled">Category</option>
        <option value = "Domestic">Domestic</option>
        <option value = "International">International</option>
      </select>
      </div><br>
      <div class="header">
      <label>Documents</label>
      </div>
      <div class="box">
      <div *ngFor = "let item of documents; let i = index">
        {{item}}
        <input type = "checkbox" [name] = "item.slice(0, -1)" class = "checkbox-alignment" [(ngModel)] = "documentValues[i]" disabled  />
      </div>
      </div><br>
      <div class="header">
      <label>DOB</label>
      </div>
      <div class="box">
      <input type="text" name = "dob" [(ngModel)] = "stud_dob" disabled />
      </div><br>
      <div class="header">
      <label>Father's Name</label>
      </div><br>
      <div class="box">
      <input type="text" name="father_name" [(ngModel)] = "stud_father" disabled  />
      </div><br>
      <div class="header">
      <label>Mother's Name</label>
      </div>
      <div class="box">
      <input  type="text" name="mother_name" [(ngModel)] = "stud_mother" disabled  /> 
      </div><br>
      <div class="header">
      <label>Last Class Score</label>
      </div>
      <div class="box">
      <input type="text" name="last_class_score" [(ngModel)] = "stud_score" disabled  /> <br/>
      </div>
    </div>
    </form>
  </div>

